@model IEnumerable<inventario.Models.pub_info>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.logo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pr_info)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publisher.pub_name)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="data:image/png;base64,@(item.ByteToBase64())"
                 alt="Image" /> 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pr_info)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.publisher.pub_name)
        </td>

    </tr>
}

</table>
