@model IEnumerable<inventario.Models.discount>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.lowqty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.highqty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.store.stor_name)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.lowqty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.highqty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.store.stor_name)
        </td>
    </tr>
}

</table>
